<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="main.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template</title>
  </head>

  <body>
    <div class="server-form">
      <img
        class="favicon"
        src="{{ data['favicon'] }}"
        alt="Fail to load the favicon."
      />
      <div class="content">
        <label> {{ data["lang"]["version"] }}{{ data["version"] }} </label>
        <label> {{ data["lang"]["motd"] }}{{ data["motd"]|safe }} </label>
        <label>
          {{ data["lang"]["slp_protocol"] }}{{ data["slp_protocol"] }}
        </label>
        {% if data["protocol_version"] is not none %}
        <label>
          {{ data["lang"]["protocol_version"] }}{{ data["protocol_version"]}}
        </label>
        {% endif %}
        <label> {{ data["lang"]["address"] }}{{ data["address"] }} </label>
        <label> {{ data["lang"]["ip"] }}{{ data["ip"] }} </label>
        <label> {{ data["lang"]["port"] }}{{ data["port"] }} </label>
        <label> {{ data["lang"]["delay"] }}{{ data["delay"]}} </label>
        {% if 'BEDROCK' in data["slp_protocol"] %}
        <label>{{ data["lang"]["gamemode"] }}{{ data["gamemode"] }}</label>
        {% endif %}
        <label> {{ data["lang"]["players"] }}{{ data["players"] }} </label>
        {% if data["player_list"] is not none %}
        <label>
          {{ data["lang"]["player_list"] }}{{ data["player_list"] }}
        </label>
        {% endif %}
      </div>
      <div class="watermark">
        nonebot_plugin_mccheck v{{ data["VERSION"] }} by molanp.
      </div>
    </div>
  </body>
</html>
